<div class="mt-5">
    <form method="POST" action=""> 
        <div class="form-group">
            <label>Từ khoá</label>
            <input name="que" class="form-control"  placeholder="Nhập từ khoá...">
            <select class="form-control" name="gender" id="">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>